@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

body{
    margin: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
}

main_logo{
    text-align: center;
    margin-top: 30px;
  
}
  

.image {
    background-color: transparent;
    border: 0ch;
    text-align: center;
    width: 10px;
  
}
  
  #start_botton {
    text-align: center;
    /*width: 100%;*/
    margin-bottom: 0px;
    position: relative;
    bottom: 10px;
  
}
  
#logo_word {
    text-align: center;
    /*width: 100%;*/
    margin-top: 100px;
    margin-bottom: 100px;
  
}

tutorial{
    position: relative;
    top: 30px;
    border: 0px;
}

#back_botton{
    position: relative;
    right: 470px;
    top: 20px;
}

texts{
    position: relative;
    margin: 50px;
}