@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');



body{
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: auto;

}
.container {
	display: flex;
  flex-direction: column;
}

top_botton{
    margin-top: 20px;
    text-align: center;
}

bar{
    margin-bottom: 60px;
    margin-top: 20px;
}

number{
    position: relative;
    bottom: 0px;
    top: -20px;
    margin-bottom: 0px;
}
number_buttom{
  position: relative;
  top: -10px;
  font-family: "NanumSquareAcr";

}

guess_button{
  position: relative;
  margin-top: 50px;
}

button_background{
    position: relative;
    /*
    right :120px;
    */
    
    right :180px;
    
}
guess_text{
/*
    position: absolute;
    top: -90%;
    color: white;
    right: 10px;
    bottom: 20px;
    font-family: "NanumSquareAcr";
    text-align: center;    
    max-width: 4000px;
    width: 400px;    
*/
    

    width: 400px;
    position: absolute;
    top: -90%;
    color: white;
    right: 30px;
    bottom: 20px;
    font-family: "NanumSquareAcr";
    text-align: center;    

    
    
}

answer_text{
    position: absolute;
    color: black;
    left : 130px;
    top: 15px;
    text-align: center;
    font-family: "NanumSquareAcr";
    font-size: 16px;
}

d{
    position: relative;
}



number{
    position: relative;
    bottom: 80px;    
}

.image {
    border: 0ch;
    background-color: white;
    text-align: center;
    position: relative;

}



#back_botton{
    position: relative;
    right: 430px;
    top: 0px;

}


#reset_botton{
    position: relative;
    background-color: white;
    left: 350px;
}

#guess_botton_a{
    position: relative;
    left: 180px;
    bottom: 40px;
}

#guess_botton_b{
    position: relative;
    left: 180px;
    bottom: 10px;
}

#guess_botton_c{
    position: relative;
    left: 180px;
    top: 20px;
}


.botton_hover:hover{
    content: url("./img_file_twenty/twenty_guess_yellow_answer.svg");


}



.clicked {
  position: absolute;
  left: 180px;
  top: 20px;
  display: none;
}
.botton_hover:hover .clicked {
  display: block;
}
.botton_hover:hover .botton_hover {
  display: none;
}


.bottom_text {
    position: absolute;
    bottom: 5px;
    right: 12px;
  }

#bottom_button{
    position: relative;
    top:60px;
}

.guess_img{
    object-fit: cover;
    width: 10px;
}

#guess_number{
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
    font-family:Arial;
}

.skip_image{
    position: relative;

}

skip{
    position: relative;
    top: 60px;
}


@import url(https://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700);

/*
.fonts {
  font-family: 'Josefin Slab', serif;
}
*/

body {
  font-family: 'Josefin Slab', serif;
  font-size: 20px;
  line-height: 24px;
  color: #333;
  background: #ececec;
  overflow-y: scroll;
}

p {
  margin-bottom: 0.5em;
}

a,
a:visited {
  text-decoration: none;
  color: #00AE68;
}

.clear {
  clear: both;
}


.container {
  padding-top: 1em;
  margin-top: 1em;
  border-top: 
    solid
    1px
    #CCC;
}

a.button {
  display: block;
  position: relative;
  float: left;
  width: 120px;
  padding: 0;
  margin: 10px 20px 10px 0;
  font-weight: 600;
  text-align: center;
  line-height: 50px;
  color: #FFF;
  border-radius: 5px;
  transition: all 0.2s ;
}

.btnBlueGreen {
  background: #00AE68;
}


/* FLOAT */
.btnFloat {
  background: none;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.5);
}

.btnFloat:before {
  content: 'Float';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 120px;
  height: 50px;
  border-radius: 5px;
  transition: all 0.2s ;
}

.btnBlueGreen.btnFloat:before {
  background: #00AE68;
}



.btnFloat:before {
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.4);
}

.btnFloat:hover:before {
  margin-top: -2px;
  margin-left: 0px;
  transform: scale(1.1,1.1);
  -ms-transform: scale(1.1,1.1);
  -webkit-transform: scale(1.1,1.1);
  box-shadow: 0px 5px 5px -2px rgba(0, 0, 0, 0.25);
}

